Repository gmsgowtham/react-native-marked: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn run biome check {staged_files}
    format:
      glob: '*.{js,ts,jsx,tsx,json}'
      run: yarn run biome format {staged_files} --write && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn run commitlint --edit

docs: clarify selectable behavior and renderer precedence
  README.md
  src/hooks/useMarkdown.ts
  src/hooks/useMarkdownWithComponents.tsx
  src/lib/Renderer.tsx
  src/lib/types.ts
Due: lint, format

docs: add AGENTS.md for OpenCode sessions
  AGENTS.md
Due: none

fix: ensure fontFamily style is applied to code blocks
  README.md
  src/lib/Parser.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
  src/theme/styles.ts
  src/theme/types.ts
Due: lint, format

feat!: prevent FlatList item re-rendering
  README.md
  src/hooks/useMarkdown.ts
  src/hooks/useMarkdownBlocks.ts
  src/hooks/useMarkdownWithComponents.tsx
  src/index.ts
  src/lib/Markdown.tsx
  src/lib/MarkdownBlock.tsx
  src/lib/Renderer.tsx
  src/lib/__tests__/FlatListRerender.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
  src/lib/types.ts
Due: lint, format

docs: add rspack-powered site with github pages deploy
  .github/workflows/docs.yml
  .gitignore
  AGENTS.md
  README.md
  biome.json
  docs/README.md
  docs/docs/api/hooks.md
  docs/docs/api/index.md
  docs/docs/api/markdown-props.md
  docs/docs/api/renderer.md
  docs/docs/api/theme.md
  docs/docs/guide/advanced/deployment.md
  docs/docs/guide/advanced/tokenizer.md
  docs/docs/guide/component.md
  docs/docs/guide/custom-renderer.md
  docs/docs/guide/embedding-components.md
  docs/docs/guide/examples.md
  docs/docs/guide/hook.md
  docs/docs/guide/index.md
  docs/docs/guide/installation.md
  docs/docs/guide/supported-elements.md
  docs/docs/guide/theming.md
  docs/docs/index.md
  docs/docs/public/.nojekyll
  docs/docs/public/logo.png
  docs/package.json
  docs/rspress.config.ts
  docs/tsconfig.json
  docs/yarn.lock
  package.json
  tsconfig.json
Due: lint, format

fix: stabilize block ids and keep flatListProps backward compatible
  README.md
  docs/docs/api/hooks.md
  docs/docs/api/markdown-props.md
  src/hooks/useMarkdown.ts
  src/hooks/useMarkdownBlocks.ts
  src/hooks/useMarkdownWithComponents.tsx
  src/index.ts
  src/lib/Markdown.tsx
  src/lib/MarkdownBlock.tsx
  src/lib/Renderer.tsx
  src/lib/__tests__/FlatListRerender.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
  src/lib/blockUtils.ts
  src/lib/types.ts
Due: lint, format

fix: pass image alt text to SVG images for accessibility
  docs/docs/guide/examples.md
  src/lib/Renderer.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: lint, format

chore: release 8.3.0
  package.json
Due: format

fix: detect .svg uris with a query, fragment or upper case extension
  src/lib/Renderer.tsx
  src/lib/__tests__/Renderer.spec.tsx
Due: lint, format

test: support marked@18.0.13
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: none

chore: release 8.3.1
  package.json
Due: format

fix: add missing key prop to table renderer
  src/lib/Renderer.tsx
Due: lint, format

chore: release 8.3.2
  package.json
Due: format

chore: migrate from yarn to npm
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/perf.yml
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/docs/guide/advanced/deployment.md
  docs/docs/guide/examples.md
  docs/docs/guide/index.md
  docs/docs/guide/installation.md
  docs/docs/index.md
  docs/package-lock.json
  docs/yarn.lock
  examples/react-native-marked-sample/.gitignore
  examples/react-native-marked-sample/package-lock.json
  examples/react-native-marked-sample/yarn.lock
  lefthook.yml
  package-lock.json
  package.json
  reassure-tests.sh
  yarn.lock
Due: format

chore: approve npm scripts
  package.json
Due: format

fix: render soft line breaks as spaces
  src/lib/Parser.tsx
  src/lib/__tests__/Markdown.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: lint, format

fix: size table columns to the table's width instead of the window's
  src/components/MDTable.tsx
  src/lib/Renderer.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
Due: lint, format

fix: scope MDImage image-size effect to uri changes
  src/components/MDImage.tsx
Due: lint, format

chore: update react-native-testing-library to v14
  package-lock.json
  package.json
  src/hooks/__tests__/useMarkdownWithComponents.spec.tsx
  src/lib/__tests__/Markdown.spec.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
Due: lint, format

fix: await measureRenders in perf test
  src/lib/__perf__/Markdown.perf-test.tsx
Due: lint, format

chore: upgrade jest-environment-jsdom to v30.5.2
  package-lock.json
  package.json
Due: format

test: mock svg fetch rejection in Markdown image tests
  src/lib/__tests__/Markdown.spec.tsx
Due: lint, format

test: raise jest timeout for markdown perf test to 60s
  src/lib/__perf__/Markdown.perf-test.tsx
Due: lint, format
