Repository gmsgowtham/react-native-marked: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn run biome check {staged_files}
    format:
      glob: '*.{js,ts,jsx,tsx,json}'
      run: yarn run biome format {staged_files} --write && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn run commitlint --edit

chore: initial work to prevent rerenders
  src/lib/Parser.tsx
  src/lib/Renderer.tsx
  src/lib/types.ts
  src/utils/hash.ts
Due: lint, format

chore(deps): update dependency @biomejs/biome to v2
  biome.json
  examples/react-native-marked-sample/App.tsx
  package.json
  src/components/MDImage.tsx
  src/components/MDSvg.tsx
  src/components/MDTable.tsx
  src/hooks/useMarkdown.ts
  src/index.ts
  src/lib/Markdown.tsx
  src/lib/Parser.tsx
  src/lib/Renderer.tsx
  src/lib/__perf__/Markdown.perf-test.tsx
  src/lib/__tests__/Markdown.spec.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/types.ts
  src/theme/__tests__/styles.spec.ts
  src/theme/styles.ts
  src/utils/__tests__/table.spec.ts
  yarn.lock
Due: lint, format

chore(format): package.json and biome.json
  biome.json
  package.json
Due: format

chore(format): biome.json
  biome.json
Due: format

chore(deps): update dependency @biomejs/biome to v2 (#887)
  biome.json
  examples/react-native-marked-sample/App.tsx
  package.json
  src/components/MDImage.tsx
  src/components/MDSvg.tsx
  src/components/MDTable.tsx
  src/hooks/useMarkdown.ts
  src/index.ts
  src/lib/Markdown.tsx
  src/lib/Parser.tsx
  src/lib/Renderer.tsx
  src/lib/__perf__/Markdown.perf-test.tsx
  src/lib/__tests__/Markdown.spec.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/types.ts
  src/theme/__tests__/styles.spec.ts
  src/theme/styles.ts
  src/utils/__tests__/table.spec.ts
  yarn.lock
Due: lint, format

chore(deps): update example app expo sdk
  examples/react-native-marked-sample/package.json
  examples/react-native-marked-sample/yarn.lock
Due: format

chore(deps): update example app expo sdk (#890)
  examples/react-native-marked-sample/package.json
  examples/react-native-marked-sample/yarn.lock
Due: format

fix(minor): undef MarkedList::renderMarker fn when using react compiler
  examples/react-native-marked-sample/app.json
  examples/react-native-marked-sample/package.json
  examples/react-native-marked-sample/yarn.lock
  src/components/MDList.tsx
  src/lib/Renderer.tsx
Due: lint, format

chore: use relative import and udpate test snapshot
  src/lib/Renderer.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: lint, format

fix(minor): undef MarkedList::renderMarker fn when using react compiler (#891)
  examples/react-native-marked-sample/app.json
  examples/react-native-marked-sample/package.json
  examples/react-native-marked-sample/yarn.lock
  src/components/MDList.tsx
  src/lib/Renderer.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: lint, format

chore: release 7.0.2-rc.0
  package.json
Due: format

chore: release 7.0.2
  package.json
Due: format

chore: adjust the biome schema version
  biome.json
Due: format

feat: add marked hooks support
  src/hooks/useMarkdown.ts
  src/index.ts
  src/lib/Markdown.tsx
  src/lib/types.ts
Due: lint, format

chore: update marked to 17.0.1
  package.json
  yarn.lock
Due: format

feat: add custom hooks to the example app
  examples/react-native-marked-sample/App.tsx
Due: lint, format

test: add unit tests for the hooks props
  src/lib/__tests__/Markdown.spec.tsx
Due: lint, format

docs: update readme to include hooks prop
  README.md
Due: none

test: add marked to the transformIgnorePatterns
  package.json
Due: format

test: adjust tests to pass
  src/lib/__tests__/Markdown.spec.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
Due: lint, format

fix: remove unused import
  src/lib/__tests__/Markdown.spec.tsx
Due: lint, format

chore: release 7.1.0
  package.json
Due: format

fix(minor): add radix param to parseInt
  biome.json
  src/lib/Parser.tsx
  src/utils/svg.ts
Due: lint, format

chore(deps): update jest to v30
  package.json
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
  yarn.lock
Due: format

fix(minor): pass title attribute from link, image tokens to renderer
  src/lib/Parser.tsx
  src/lib/Renderer.tsx
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  src/lib/__tests__/__snapshots__/Renderer.spec.tsx.snap
  src/lib/types.ts
Due: lint, format

chore: release 7.1.1
  package.json
Due: format

feat(markdown): add react component embedding support
  README.md
  examples/react-native-marked-sample/App.tsx
  examples/react-native-marked-sample/ReactComponentsExample.tsx
  examples/react-native-marked-sample/const.ts
  src/hooks/__tests__/useMarkdownWithComponents.spec.tsx
  src/hooks/useMarkdownWithComponents.tsx
  src/index.ts
  src/lib/ReactComponentRegistry.tsx
  src/lib/ReactComponentTokenizer.ts
  src/lib/__tests__/ReactComponentTokenizer.spec.ts
Due: lint, format

chore: release 8.0.0
  package.json
Due: format

chore(deps): update dependency @biomejs/biome to v2.4.7
  examples/react-native-marked-sample/const.ts
  package.json
  src/index.ts
  yarn.lock
Due: lint, format

chore(minor): remove html warning
  src/lib/Parser.tsx
Due: lint, format

chore: release 8.0.1
  package.json
Due: format

fix(deps): update dependency marked to v18
  examples/react-native-marked-sample/const.ts
  package.json
  src/lib/__tests__/__snapshots__/Markdown.spec.tsx.snap
  yarn.lock
Due: lint, format

chore: release 8.1.0
  package.json
Due: format

feat(minor): optional text selectable
  .github/copilot-instructions.md
  src/hooks/__tests__/useMarkdown.spec.tsx
  src/hooks/useMarkdown.ts
  src/hooks/useMarkdownWithComponents.tsx
  src/lib/Markdown.tsx
  src/lib/Renderer.tsx
  src/lib/__tests__/Markdown.spec.tsx
  src/lib/__tests__/Renderer.spec.tsx
  src/lib/types.ts
Due: lint, format

docs: update readme with selectableText prop
  README.md
Due: none

chore(deps): update dependency typescript to v6
  package.json
  tsconfig.json
  yarn.lock
Due: format

chore(deps): update typescript to v7
  package.json
  tsconfig.json
  yarn.lock
Due: format

chore: release 8.1.1
  package.json
Due: format

chore: release 8.2.0
  package.json
Due: format

feat: make selectable optional for Text elements
  src/hooks/useMarkdown.ts
  src/hooks/useMarkdownWithComponents.tsx
  src/index.ts
  src/lib/Markdown.tsx
  src/lib/Renderer.tsx
  src/lib/types.ts
Due: lint, format
